/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

// Colors
$black: #0C1A1A;
$blue: #2c3d4f;
$blue-light: #EFFAFD;
$blue-picton: #6d94cd;
$cream: #F0F7F4;
$eggplant: #A0006D;
$white: #ffffff;


// Sizes
$my-font-size: 25px;
$my-width: 500px;

// Base document colors
$navbar-bg: $blue; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $blue-picton; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $black; // page text 
$footer-bg: $blue; // footer 
$link-color: $blue-picton; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $eggplant; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color

/*-- scss:rules --*/

// CSS rules

h1 {
  color: $blue;
  font-family: merriweather;
  font-size: 2.3rem;
}

h2 {
  color: $blue;
  font-family: montserrat;
  font-size: 1.5rem;
}

h3 {
   font-size: 1.5rem;
   font-family: montserrat;
}

h5 {
   font-size: 1rem;
   font-family: montserrat;
}

b, strong {
   color: $eggplant;
}

p, .ul {
   font-size: 0.8rem;
   font-family: montserrat;
}

.about-link-text {
  font-size: 0.7rem;
  font-family: montserrat;
}

.date, .quarto-category, .quarto-title-meta-contents, .affiliation, .card-index, .listing-description, .listing-category, .quarto-appendix-secondary-label {
  color: $black;
  font-size: 1rem;
  font-family: montserrat;
}

.description {
  color: $black;
  font-size: 1rem;
  font-family: montserrat;
}

.quarto-title-meta-heading {
  font-size: 1rem;
  font-family: montserrat;
}

.figure-caption {
  color: $blue;
  font-size: 0.8rem;
  font-family: montserrat;
}

.listing-author {
  font-size: 0.7rem;
  font-family: montserrat;
}

.listing-date {
  font-size: 0.7rem;
  font-family: montserrat;
  font-weight: bold;
}

.menu-text {
  font-size: 0.9rem;
  font-family: montserrat;
}

.navbar-logo {
  max-height: 70px;
}

.nav-link, .toc-active, .category {
  font-family: montserrat;
  font-size: 0.9rem;
}





