/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

// Colors
$blue-dark: #002b36;
$cream: #F0F7F4;
$eggplant: #5D4954; 
$gray: #64605f;
$gray-light: #949799;
$green: #157A37;
$green-blue: #94B9AF;
$green-light: #95D7AE;
$pink: #D16666;
$purple: #AE8BD1;
$red: #C2200A;
$yellow: #EB9C0A;

// Sizes
$my-font-size: 25px;
$my-width: 500px;

// Base document colors
$navbar-bg: $green; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $green-blue; // highlight color when hovering over navbar links
$body-bg: $blue-dark; // page background 
$body-color: $cream; // page text 
$footer-bg: $cream; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

// Code blocks
$code-block-bg: $cream; // code block background color

/*-- scss:rules --*/

// CSS rules

h1 {
  color: $green-light;
}

h2 {
  color: $green-blue;
}

h3 {
   font-size: 1.4rem;
}

b, strong {
   color: $pink;
}

p {
   font-size: 0.9rem;
}

.navbar-logo {
  max-height: 38px;
}

.listing-author {
  font-size: 0.7rem;
}
